# Ignorar el archivo de variables de entorno
WhisperX-Microservice/.env

# Ignorar el archivo de credenciales JSON
WhisperX-Microservice/nyro-450117-84821c1cf7ee.json

# Ignorar el bucket de Google Cloud Storage
WhisperX-Microservice/bucket_iam.json
